:root {
    --primary-color: #f2f2f2;

}

body{
    margin: 0;
    padding: 0;
    background-image: url("../IMG/BACKGROUND_MAIN.png");
    background-color: #909280;
    font-family: 'Montserrat', sans-serif;
    color: #F0E5E5;
}

body.secondary{
    background-color: #EAD3CB; /* For browsers that do not support gradients */
    background-image: linear-gradient(#EAD3CB, #D7C6B7, #A1A4A4, #4D5657);
    background-repeat: no-repeat;
    height: 100%;
    color: #F0E5E5;
}

.main-art{
    width: 70%;
}

.mt-60{
    margin-top: -60px;
}

.h-90vh{
    min-height: 90vh;
}


nav.navbar{
    background-color: #2D1D1A;
    color: #F0E5E5;
    
}

.nav-link{
    text-decoration: none;
    color: #F0E5E5 !important;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.navbar-toggler{
    color: #F0E5E5 !important;
}

.top-nav ul li { 
    list-style: none;
    display: inline-block;
}

.top-nav a {
    text-decoration: none;
    color: #F0E5E5 !important;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.active {
    font-weight: 300!important;
    font-style: italic;


}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D1D1A;
    padding: 0px 12px;
}

.main-content{
    height: 100vh;
    background-image: url(../IMG/homepage_photos.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
   }

.first-body{
    padding-top: 40vh;
    color: var(--primary-color);
}

.first-body h1{
    font-size: 53px;
    font-weight: 100;
    margin: 0;
}

.first-body h2{
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    padding-left: 40px;
}

.first-body h3{
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    padding-left: 80px;
}

.first-body h4{
    font-size: 53px;
    font-weight: 100;
    margin: 0;
    padding-left: 90px;
}

footer{
    background-color: #2D1D1A;
    height: 50px;
}

.first-body button{
    background-color: #D58B68;
    padding: 20px 40px;
    border: none;
    color: var(--primary-color);
    font-weight: 100;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 12px -12px 0px #60594e;
    margin-top: 20px;
    margin-left: 80px;
}

.second-body{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    margin-left: 300px;

}


.copy {
    color: #F0E5E5;
    padding: 13px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 100;
    }